#start-quiz-card {
    display: block;
}

#question-prompt-card {
    display: none;
}

#quiz-result-card {
    display: none;
}

#wrong {
    color: red !important;
}

#empty {
    color: orange !important;
}